<button (click)="clickHandler()" type="button" [disabled]="isDisabled() || isLoading()"
    class="w-full flex justify-center items-center mb-5 bg-blue-900 text-white rounded-md p-2 disabled:opacity-30">
    @if(isLoading())
    {
    <div class="w-4 h-4 border-2 mr-2 border-white border-t-transparent rounded-full inline-block animate-spin">

    </div>
    }
    @if(isLoading()){
    <span>

        Processing...
    </span>
    }@else{
    <span>

        {{ text() }}
    </span>
    }

</button>