@if(chatService.currentOpenedChat())
{
<div class="chat-window">
    <div class="chat-header">
        <div>
            <span class="chat-contact-name">
                {{chatService.currentOpenedChat()?.fullName | titlecase}}
            </span>
            <br />
            <span class="chat-contact-status">
                {{chatService.status(chatService.currentOpenedChat()?.userName!)}}
            </span>
        </div>
        <div class="video-action"
        (click)="displayDialog(chatService.currentOpenedChat()!.id)"
        aria-label="Start video call"
        >
            <mat-icon class="cursor-pointer hover:text-red-500">
                video_call
            </mat-icon>
        </div>
    </div>
    <div>
        <app-chat-box />
    </div>

    <div class="message-composer">
        <input type="text" (input)="chatService.notifyTyping()" (keydown.enter)="sendMessage()" [(ngModel)]="message"
            placeholder="Write a message..." />
        <mat-icon (click)="sendMessage()" class="send-action" aria-label="Send message">
            send
        </mat-icon>
    </div>
</div>
}@else {
<div class="empty-chat flex flex-col items-center justify-center p-4 md:h-full">
    <img src="chatopen.svg" />
</div>
}