@if(chatService.currentOpenedChat())
{
<div class="details-inner">
    <div class="details-profile">
        <img class="details-avatar" [src]="chatService.currentOpenedChat()?.profilePicture"
            alt="profile pic" />

        <div>
            <p class="details-name">
                {{chatService.currentOpenedChat()?.fullName | titlecase}}
            </p>

            <p class="details-username">
                {{ chatService.currentOpenedChat()?.userName}}
            </p>
        </div>
    </div>
</div>
}